In [4]:
import pandas as pd
licenses = pd.read_pickle('https://assets.datacamp.com/production/repositories/5486/datasets/2a4d8e5d91f6f2b41477fa6ea81da91e4f09305e/licenses.p')

biz_owners = pd.read_pickle('https://assets.datacamp.com/production/repositories/5486/datasets/fc3c75b236ed090f487b044603c0f7ff6825d911/business_owners.p')
print(licenses.head())
print()
print(biz_owners.head())
print(biz_owners.shape,licenses.shape)

  account ward  aid                   business               address    zip
0  307071    3  743       REGGIE'S BAR & GRILL       2105 S STATE ST  60616
1      10   10  829                 HONEYBEERS   13200 S HOUSTON AVE  60633
2   10002   14  775                CELINA DELI     5089 S ARCHER AVE  60632
3   10005   12  NaN  KRAFT FOODS NORTH AMERICA        2005 W 43RD ST  60609
4   10044   44  638  NEYBOUR'S TAVERN & GRILLE  3651 N SOUTHPORT AVE  60613

  account first_name  last_name      title
0      10      PEARL    SHERMAN  PRESIDENT
1      10      PEARL    SHERMAN  SECRETARY
2   10002     WALTER     MROZEK    PARTNER
3   10002     CELINA     BYRDAK    PARTNER
4   10005      IRENE  ROSENFELD  PRESIDENT
(21352, 4) (10000, 6)

In [5]:
# Merge the licenses and biz_owners table on account
licenses_owners = licenses.merge(biz_owners, on='account')
print(licenses_owners.head())
print(licenses_owners.shape)

  account ward  aid              business              address    zip  \
0  307071    3  743  REGGIE'S BAR & GRILL      2105 S STATE ST  60616
1      10   10  829            HONEYBEERS  13200 S HOUSTON AVE  60633
2      10   10  829            HONEYBEERS  13200 S HOUSTON AVE  60633
3   10002   14  775           CELINA DELI    5089 S ARCHER AVE  60632
4   10002   14  775           CELINA DELI    5089 S ARCHER AVE  60632

  first_name last_name      title
0     ROBERT     GLICK     MEMBER
1      PEARL   SHERMAN  PRESIDENT
2      PEARL   SHERMAN  SECRETARY
3     WALTER    MROZEK    PARTNER
4     CELINA    BYRDAK    PARTNER
(19497, 9)

In [12]:
#Group licenses_owners by title and count the number of accounts for each title. Save the result as counted_df
counted_df = licenses_owners.groupby('title').agg({'account':'count'})
print(counted_df.head())

                    account
title
ASST. SECRETARY         111
BENEFICIARY               4
CEO                     110
DIRECTOR                146
EXECUTIVE DIRECTOR       10

In [15]:
counted_df1=licenses_owners.groupby('title')['account'].count()

In [17]:
counted_df1.head()

title
ASST. SECRETARY       111
BENEFICIARY             4
CEO                   110
DIRECTOR              146
EXECUTIVE DIRECTOR     10
Name: account, dtype: int64